{% extends "layout.html" %}
{% block content %}


  {% if session.logged_in %}

  <br><br><br>

    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
	<dt>Name:
	<dd> {{ session.user}}
	<dd><input type =hidden name= person value= {{session.user}}>
        <dt>Expense:
        <dd><input type=text size=30 name=expense>
        <dt>Amount:
        <dd><input type=number name=amount >
	<dt>Note:
	<dd><input type=text size=30 name=note>
        <dd><input type=submit value=Submit>
      </dl>
    </form>
  <table class=table>
  {% for entry in entries %}
    <tr><td> {{entry.name}} </td> <td>  {{ entry.expense }}</td> <td>${{ entry.amount|safe }} </td> <td> {{entry.note|safe }} </td>
    </tr>

  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>

{% endif %}

{% endblock %}


